:root {
  --code-text: hsl(214 48% 70%);
  --strong-text: #79aaeb;

  --blockquote-border: #79aaeb;
  --blockquote-bg: #11161e;
}

body {
  background: #010101;
  padding: 0;
  margin: 0;

  color: white;
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
}

.container .menu {
  padding: 10px 0;
}

.container .menu .button {
  cursor: pointer;
  background: transparent;
  padding: 10px;
  color: white;
  font-weight: bold;
  border: solid 1px #697886;
  border-radius: 5px;
  transition: .3s;
}

.container .menu .button:hover {
  border-color: #79aaeb;
  color: #79aaeb;
}

.container .menu .button.active {
  color: #010101;
  border-color: #79aaeb;
  background: #79aaeb;
}

.editor-container {
  display: flex;
  width: 100%;
  column-gap: 20px;
}

.editor-container.active .editor {
  width: 70%;
}

.editor-container.active .tokens-preview {
  display: block;
}

.editor {
  outline: 0;
  width: 100%;
  border: solid 1px hsl(217, 50%, 70%);
  padding: 20px;
  height: fit-content;
}

.editor .subtree {
  display: inline-block;
}

.editor .display-none {
  display: none;
}

.tokens-preview {
  display: none;
  width: 30%;
  border: solid 1px hsl(217, 50%, 70%);
  padding: 10px;
}

.tokens-preview ul {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  line-height: 1.5;
  list-style: none;
}

.tokens-preview ul:nth-child(1) {
  padding: 0;
}

.tokens-preview ul li .type {
  color: #79aaeb;
  font-weight: bold;
  margin-right: 10px;
}

.tokens-preview ul li .range {
  color: #697886;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

span {
  white-space: pre-wrap;
}

code {
  color: var(--code-text);
}

strong, i {
  color: var(--strong-text);
}

img {
  width: 100%;
}

blockquote {
  border-left: solid 5px var(--blockquote-border);
  margin: 0;
  padding: 10px;
  background: var(--blockquote-bg);
}

.cursor-pos {
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  font-weight: bold;
  background: rgba(121, 170, 235, .4);
}

.cursor-pos .number {
  color: #79aaeb;
}

